@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* General Across Page */
body {
    background-color: #1e0033;
    overflow-x: hidden;
}

.section-heading-wrapper {
    position: relative;
    text-align: center;
}

.section-heading-wrapper h1 {
    margin: 0;
    padding: 1em 0;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.section-heading-underline {
    width: 10%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-bottom: 1px solid white;
    transition: 0.4s ease-in-out;
}

.about-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.experience-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.skills-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

/* Hero Portion */
.hero-wrapper {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: 0% 0%;

    /* make hero cover full page */
    height: 100vh;
    width: 100%;
    box-sizing: border-box;

    /* flex display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 3em;
    color: white;
}

/* Header / Navigation Bar Section */
.header-wrapper {
    background-color: #3E2C5E;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
}

.header-title {
    padding: 0.5em 1em;
    display: inline-block;
    width: 30%;
}

.header-title h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

.header-list {
    display: inline-block;
    width: 60%;
    text-align: right;
}

.header-list a {
    margin: 0 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    text-decoration: none;
    color: white;
}

/* About Me Section */
.about-wrapper {
    padding: 0 5vw;
    padding-bottom: 20vh;
    box-sizing: border-box;
    width: 100%;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.about-wrapper h1 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
}

.about-content-wrapper {
    display: flex;
    justify-content: center;
}

.about-image-wrapper {
    margin: 5vh 5vw;
    padding: 1em;
    position: relative;
    width: 30%;
}

.about-image-decoration {
    content: "";
    position: absolute;
    border: 2px solid #9978a1;
    width: 90%;
    height: 90%;
    top: -5%;
    left: -5%;
    z-index: 2;
}

.about-image-wrapper img {
    position: relative;
    width: 100%;
    box-shadow: 0 3em 3em rgba(0,0,0,.25);
    border-radius: 5px;
    z-index: 5;
}

.about-text-wrapper {
    width: 50%;
}

.about-text-wrapper p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

/* Experience Section */
.experience-wrapper {
    margin-top: 5vh;
    padding-bottom: 10vh;
    transition: 0.4s ease-in-out;
}

.experience-wrapper:hover {
    border-bottom: 1px solid white;
    transition: 0.4s ease-in-out;
}

.experience-wrapper h1 {
    margin: 0;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
}

.experience-content-big-wrapper {
    position: relative;
}

.experience-content-wrapper {
    margin: 1em auto;
    box-sizing: border-box;
    width: 80%;
    border-radius: 10px;
    background-color: #5c418b;
    clip-path: polygon(0 0, 0 20%, 5% 30%, 5% 100%, 40% 100%, 45% 90%, 55% 90%, 60% 100%, 100% 100%, 
    100% 10%, 95% 0, 70% 0, 65% 5%, 35% 5%, 30% 0, 100% 0);
    color: white;
    z-index: 2;
}

.experience-colorful-sidebar {
    position: absolute;
    bottom: -0.25em;
    left: 10%;
}

.colorful-bar {
    margin: 0.375em 0;
    height: 0.75em;
    width: 2.5em;
    background-color: #5c418b;
}

.experience-nav {
    margin-top: 2em;
    width: 100%;
}

.experience-nav-selection {
    padding: 0.3em;
    position: relative;
    width: 25%;
    height: 6em;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 10px 0 4px -4px rgba(0,0,0,.15);
}

.experience-nav-selection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s ease-in-out;
}

.experience-nav-selection:hover img {
    opacity: 0;
    cursor: pointer;
}

.experience-nav-selection:hover .experience-nav-selection-overlay {
    opacity: 1;
    cursor: pointer;
}

.experience-nav-selection-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.experience-nav-selection-overlay-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Work Sans', sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 1em;
}

#ucm, #ccsc {
    box-shadow: 10px 0 4px -4px rgba(0,0,0,.15), -10px 0 4px -4px rgba(0,0,0,.15), 0 -10px 4px -4px rgba(0,0,0,.15) inset;
}

#null {
    box-shadow: 0 -10px 4px -4px rgba(0,0,0,.15) inset;
    background-color: transparent;
    z-index: 2;
}

#cambium, #cambium-card {
    background-color: transparent;
    z-index: 5;
}

#ucm, #ucm-card {
    background-color: transparent;
    z-index: 4;
}

#ccsc, #ccsc-card {
    background-color: transparent;
    z-index: 3;
}

#ucm-card, #ccsc-card {
    display: none;
}

.experience-card {
    padding: 3em;
    width: 100%;
    box-sizing: border-box;
}

.experience-card-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.experience-card-header-title {
    width: 50%;
}

.experience-card-header-title h2 {
    font-family: 'Work Sans', sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 1.5em;
}

.experience-card-header-title p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

.experience-card-header-image {
    width: 40%;
}

.experience-card-header-image img {
    width: 100%;
}

.experience-card-content ul {
    list-style-image: url(../images/rocket-bullet-resize.png);
}

.experience-card-content li {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

/* Skills Section is in the skills.css file */