@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* General Across Page */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e0033;
    overflow-x: hidden;
}

.section-heading-wrapper {
    position: relative;
    text-align: center;
}

.section-heading-wrapper h1 {
    margin: 0;
    padding: 1em 0;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.section-heading-underline {
    width: 10%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-bottom: 1px solid white;
    transition: 0.4s ease-in-out;
}

.about-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.experience-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.skills-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.projects-wrapper:hover .section-heading-underline {
    width: 100%;
    transition: 0.4s ease-in-out;
}

/* Hero Portion */
.hero-wrapper {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: 0% 0%;

    /* make hero cover full page */
    height: 100vh;
    width: 100%;
    box-sizing: border-box;

    /* flex display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 3em;
    color: white;
    text-align: center;
}

/* Header / Navigation Bar Section */
.header-wrapper {
    padding: 1em;
    background-color: #2e2145;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
}

.header-fixed {
    position: fixed;
    float: left;
    width: 100%;
    z-index: 10;
    animation: header-descend 0.8s;
    animation-fill-mode: forwards;
}

.header-hide {
    float: left;
    animation: header-ascend 0.8s;
    animation-fill-mode: forwards;
}

@keyframes header-descend {
    0% {top: -50%;}
    100% {top: 0;}
}

@keyframes header-ascend {
    0% {top: 0;}
    100% {top: -50%;}
}

.header-title {
    padding: 0.5em 1em;
    display: inline-block;
    width: 30%;
}

.header-title h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: white;
}

.header-list {
    display: inline-block;
    width: 85%;
    text-align: left;
}

.header-list a {
    margin: 0 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.header-list a:hover {
    color: #cdca98;
    transition: 0.3s ease-in-out;
}

/* About Me Section */
.about-wrapper {
    padding: 0 5vw;
    padding-bottom: 20vh;
    box-sizing: border-box;
    width: 100%;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.about-wrapper h1 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
}

.about-content-wrapper {
    display: flex;
    justify-content: center;
}

.about-image-wrapper {
    margin: 5vh 5vw;
    padding: 1em;
    position: relative;
    width: 30%;
}

.about-image-decoration {
    content: "";
    position: absolute;
    border: 2px solid #9978a1;
    width: 90%;
    height: 90%;
    top: -5%;
    left: -5%;
    z-index: 2;
}

.about-image-wrapper img {
    position: relative;
    width: 100%;
    box-shadow: 0 3em 3em rgba(0,0,0,.25);
    border-radius: 5px;
    z-index: 5;
}

.about-text-wrapper {
    width: 50%;
}

.about-text-wrapper p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

/* Experience Section is in the experience.css file*/
/* Skills Section is in the skills.css file */
/* Projects Section is in the projects.css file */

/* Contact Section */
.contact-wrapper {
    margin-top: 20vh;
    padding-top: 5em;
    padding-bottom: 2.5em;
    text-align: center;
    background-image: linear-gradient(135deg, #bba5c0, #725478);
    clip-path: polygon(0 25%, 0 100%, 100% 100%, 100% 0);
}

.contact-wrapper h1 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.contact-content-wrapper {
    margin: 4em 0;
}

.contact-content-wrapper p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: white;
}

.contact-content-link-wrapper {
    margin: 4em 0;
}

.contact-content-wrapper a {
    padding: 0.5em 1.5em;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.contact-content-wrapper a:hover {
    background-color: white;
    color: #bba5c0;
    transition: 0.3s ease-in-out;
}

/* Footer Section */
.footer-wrapper {
    padding: 3em;
    background-color: #262626;
    text-align: center;
}

.footer-content-icons-wrapper {
    display: flex;
    justify-content: center;
}

.footer-content-icons-wrapper img {
    margin: 0 1em;
    width: 3em;
    height: 3em;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.footer-content-icons-wrapper img:hover {
    cursor: pointer;
    transform: translateY(-10%);
    transition: 0.3s ease-in-out;
}

.footer-divider {
    margin: 1em auto;
    margin-bottom: 0;
    width: 50%;
    border: 1px solid #4d4d4d;
}

.footer-content-wrapper p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
}